<tr id="employee_list_entry-<%= object.id %>"> 
  <td>
    <%= link_to object.name , show_role_for_employee_url(object) %>
  </td>
  <td>
    <% if object.has_role?(:admin)%>
      <span class="label green">Yes</span>
    <% else %>
      <span class="label">No</span>
    <% end %>
  </td>
  <td>
    <% if object.has_role?(:head_project_manager)%>
      <span class="label green">Yes</span>
    <% else %>
      <span class="label">No</span>
    <% end %>
  </td>
  <td>
    <% if object.has_role?(:employee)%>
      <span class="label green">Yes</span>
    <% else %>
      <span class="label">No</span>
    <% end %>
  </td> 
</tr>