<%= render "heading", title: "Concept", :id => "concept" %>

<div class="padded">

  


  <div style="line-height: 24px;">
    This theme comes with new awesome label styles like the <span class="label">label</span>
    <br/>
    We also have <span class="label green">label green</span>. Here's some lorem ipsum:
    <span class="label green">label green</span> dolor sit amet in pretium nisl <span class="label red">label red</span> Nulla volutpat aliquam velit.
    Lorem ipsum dolor sit amet Consectetur <span class="label orange">label orange</span> elit Integer molestie lorem at massa
    <span class="label blue">label blue</span> in pretium nisl <span class="label purple">label purple</span> Nulla volutpat aliquam velit.
    Lorem <span class="label pink">label pink</span> dolor sit amet Consectetur <span class="label yellow">label yellow</span> elit Integer molestie lorem at massa

    
  </div>
</div>