<%= render "heading", title: " Property", :id => "property" %>


<div class="padded">

  <ul>
    <li>The theme offers a fixed style layout, fully responsive, with two big columns (the main and the sidebar). To learn moar, click the docs button above</li>
    <li>When the viewport is too small (a.k.a. phone/small tablet), there's also a sidebar button coming at the bottom of the screen so you can navigate fast to the sidebar (which will sit below the main container on a small screen)</li>
    <li>The theme uses FontAwesome for icons, but feel free to use bootstrap's default icons</li>
    <li>With this package, there's also a cool login and a register screen for your users</li>
  </ul>
</div>