<%= simple_form_for( object, :url => url,
      :method => :post , 
      :html => {:class => "form-horizontal prevent_double_submit ajax-form   no_content_form",
        :id => "object_form"}) do |f| %>

  <%= f.input :concept  , :input_html => {:class => "input-xlarge span5 wysihtml5_textarea" , :rows => 5 }, 
  :label => "Concept" %>
   
   
   <hr /> 
  <div class="form-actions">
    <%= f.button :submit , :class => "btn btn-primary", :value=> "Create Project Concept" %>
  </div>
<% end %>
