<!--  The title , or the breadcrumb if i may say  -->
<div class="heading-bar"> 
  <h3 class="pull-left">Jimmy Shinta Prewedding</h3>
  <!-- not necessary be shown -->
  <ul class="nav-links pull-right">
    <li><a href="#"><i class="icon-caret-left"></i> back</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#">some link</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#">another link</a></li>
  </ul>
</div>