<div class="row" id="new_object_opener">  
  <div class="pull-right">
    <button data-toggle="button" class="btn blue form_opener" id="docs" style="cursor:pointer;"><%= text %></button>
    <!-- <a href="#modal" data-toggle="modal" class="btn">Launch Modal</a> -->
  </div>   
</div>